body {
  background-image: url('/static/{{version}}/background.png');
  background-repeat: repeat;
}

@media (max-width: 400px) {
  body {
    font-size: 0.4em;
  }
}
@media (max-width: 200px) {
  body {
    font-size: 0.2em;
  }
}

@-webkit-keyframes fadein {
  0% {
    opacity: 0.5;
    text-shadow: 0 0 16px rgba(66, 140, 240, 0.5);
  }
  10% {
    opacity: 1;
  }
  20% {
    text-shadow: 0 0 16px rgba(66, 140, 240, 1.0), 0 0 36px rgba(0, 140, 255, 1.0);
  }
  40% {
    text-shadow: 0 0 16px rgba(66, 140, 240, 0.5);
  }
  60% {
    text-shadow: 0 0 16px rgba(66, 140, 240, 1.0), 0 0 36px rgba(0, 140, 255, 1.0);
  }
  80% {
    text-shadow: 0 0 16px rgba(66, 140, 240, 0.5);
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
    text-shadow: 0 0 16px rgba(66, 140, 240, 0);
  }
}
@-moz-keyframes fadein {
  0% {
    opacity: 0.5;
    text-shadow: 0 0 16px rgba(66, 140, 240, 0.5);
  }
  10% {
    opacity: 1;
  }
  20% {
    text-shadow: 0 0 16px rgba(66, 140, 240, 1.0), 0 0 36px rgba(0, 140, 255, 1.0);
  }
  40% {
    text-shadow: 0 0 16px rgba(66, 140, 240, 0.5);
  }
  60% {
    text-shadow: 0 0 16px rgba(66, 140, 240, 1.0), 0 0 36px rgba(0, 140, 255, 1.0);
  }
  80% {
    text-shadow: 0 0 16px rgba(66, 140, 240, 0.5);
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
    text-shadow: 0 0 16px rgba(66, 140, 240, 0);
  }
}
@-o-keyframes fadein {
  0% {
    opacity: 0.5;
    text-shadow: 0 0 16px rgba(66, 140, 240, 0.5);
  }
  10% {
    opacity: 1;
  }
  20% {
    text-shadow: 0 0 16px rgba(66, 140, 240, 1.0), 0 0 36px rgba(0, 140, 255, 1.0);
  }
  40% {
    text-shadow: 0 0 16px rgba(66, 140, 240, 0.5);
  }
  60% {
    text-shadow: 0 0 16px rgba(66, 140, 240, 1.0), 0 0 36px rgba(0, 140, 255, 1.0);
  }
  80% {
    text-shadow: 0 0 16px rgba(66, 140, 240, 0.5);
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
    text-shadow: 0 0 16px rgba(66, 140, 240, 0);
  }
}
@keyframes fadein {
  0% {
    opacity: 0.5;
    text-shadow: 0 0 16px rgba(66, 140, 240, 0.5);
  }
  10% {
    opacity: 1;
  }
  20% {
    text-shadow: 0 0 16px rgba(66, 140, 240, 1.0), 0 0 36px rgba(0, 140, 255, 1.0);
  }
  40% {
    text-shadow: 0 0 16px rgba(66, 140, 240, 0.5);
  }
  60% {
    text-shadow: 0 0 16px rgba(66, 140, 240, 1.0), 0 0 36px rgba(0, 140, 255, 1.0);
  }
  80% {
    text-shadow: 0 0 16px rgba(66, 140, 240, 0.5);
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
    text-shadow: 0 0 16px rgba(66, 140, 240, 0);
  }
}


#slide1 h1 {
  text-align: center;
  font-family: impact;
  opacity: 0.5;
  font-size: 10em;
}


#slide1 h1.current  {
  -webkit-animation-name: fadein;
  -webkit-animation-duration: 3s;
  -webkit-animation-timing-function: ease-in-out;

  -moz-animation-name: fadein;
  -moz-animation-duration: 1s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-direction: alternate;
  -moz-animation-timing-function: ease-in-out;

  -o-animation-name: fadein;
  -o-animation-duration: 1s;
  -o-animation-iteration-count: infinite;
  -o-animation-direction: alternate;
  -o-animation-timing-function: ease-in-out;

  animation-name: fadein;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}
#slide1 h1.done {
  opacity: 0.5;
}


#slide2 h1 {
  text-align: center;
  font-family: impact;
  font-size: 10em;
}

#slide2 p {
  text-align: center;
  font-size: 3em;
}

#slide2 a {
  text-decoration: none;
  color: black;
}
#slide2 a:hover {
  text-decoration: underline;
}