body {
  background-image: url('/static/{{version}}/background.png');
  background-repeat: repeat;
}

h1 {
  text-align: center;
  font-family: Impact, Charcoal, sans-serif;
  font-size: 10em;
}

p {
  text-align: center;
  font-size: 1em;
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: underline;
}